.container-fluid {
  margin: 20px 0;
}

.container-fluid img {
  border: 1px solid black;
  margin: 0 0 5px 0;
  width: 25%;
  transition: 0.2s;
}

.caixa {
  height: 405px;
}

.container-fluid img:hover {
  width: 40%;
  left: 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .caixa {
    height: fit-content;
  }
}