@media (min-width: 1440px) {
  #explicacao {
    margin: 10px 0 10px 60px;
    width: 100%;
  }
  figure.header h3 {
    top: 35%
  }
}

@media (max-width: 1024px) {
  #explicacao {
    margin: 10px 0 10px 32px;
    width: 1024px;
  }
  .col-md-auto {
    width: 1024px;
  }
  #explicacao img {
    width: 100%;
    margin: 0;
  }
  main {
    width: 1024px;
    position: absolute;
    top: 200px;
  }
  figure.header h3 {
    top: 18%
  }
  figure.header figcaption {
    position: relative;
    top: -576px;
    height: 200px;
  }
  figure.header h3 {
    top: 10%;
  }
}
@media (max-width: 768px) {
  #explicacao {
    margin: 10px 0 10px 24px;
    width: 768px;
  }
  .col-md-auto {
    width: 768px;
  }
  main {
    width: 768px;
  }
  figure.header figcaption {
    top: -432px;
  }
  figure.header h3 {
    top: 28%;
  }
  #rodape {
    display: none;
  }
}

@media (max-width: 425px) {
  #explicacao {
    margin: 10px 0;
    width: 425px;
  }
  .col-md-auto {
    width: 425px;
  }
  .col-md-auto img {
    width: 100%;
    margin: 0;
  }
  main {
    width: 100%;
  }
  figure.header figcaption {
    display: none;
  }
}

@media (max-width: 375px) {
  #explicacao {
    width: 375px;
  }
  .col-md-auto {
    width: 375px;
  }
}

@media (max-width: 320px) {
  #explicacao {
    width: 320px;
  }
  .col-md-auto {
    width: 320px;
  }
}