* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;
  margin-bottom: 100px;
}

.header {
  position: relative;
}
figure.header figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, .4);
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s;
}

figure.header h3 {
  position: absolute;
  top: 200px
}

figure.header:hover figcaption {
  opacity: 1;
}

main {
  height: 1000px;
  background: white;
  padding-top: 50px;
  position: relative;
  top: -300px;
  margin-bottom: 100px;
}

.col-md-auto {
  border: 2px solid black;
  margin: 5px 0;
}

.col-md-auto img {
  float: left;
  margin: 0 50px 10px 0;
  position: relative;
  top: 0;
  left: initial;
}

.btn {
  width: 90%;
  margin-left: 5%;
}

.info {
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
}

.card img {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 0 50px 10px 0;
  top: 0;
  left: initial;
}

#rodape {
  background: black;
  margin-top: 150px;
  padding: 10px 50px;
}

.devs {
  color: white;
  font-size: 20px;
}